@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 100vw;
  height: 100vh;
  font-family: "Bebas Neue", sans-serif;
  background-color: white;
}
main .hero {
  width: 100%;
  height: 70%;
  background-color: rgb(216, 194, 174);
  display: flex;
  align-items: flex-end;
  padding: 100px;
  font-family: "Bebas Neue", sans-serif;
  background-image: url(../assets/elliott-engelmann-DjlKxYFJlTc-unsplash.jpg);
  background-size: cover;
  background-position: 50% 50%;
}
main .hero h1 {
  font-size: 100px;
  color: white;
}
main .page2 {
  height: 70%;
  background-color: white;
  padding: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  gap: 40px;
}
main .page2 h3 {
  font-size: 20px;
  color: grey;
}
main .page2 p {
  font-size: 50px;
  color: black;
}
main .page2 button {
  background-color: rgb(182, 248, 15);
  font-size: 20px;
  border: 0px;
  padding: 15px;
  border-radius: 100px;
  font-family: "Bebas Neue", sans-serif;
}
main .page2 button:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}
main .page3 {
  width: auto;
  height: 800px;
  background-color: rgb(134, 133, 133);
  padding: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 70px;
  font-family: "Bebas Neue", sans-serif;
  background-image: url(../assets/john-towner-JgOeRuGD_Y4-unsplash.jpg);
  background-size: cover;
  background-position: 50% 20%;
}
main .page3 h3 {
  font-size: 30px;
  color: rgb(91, 250, 86);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
main .page3 .para1 {
  font-size: 50px;
  color: rgb(255, 255, 255);
}
main .page3 h2 {
  background-color: white;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 30px;
}
main .page3 h2:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}
main .page4 {
  height: 800px;
  background-color: rgb(255, 255, 255);
  gap: 25px;
}
main .page4 #card1 {
  padding: 200px 0px 0px 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .page4 #card1 img {
  width: 70%;
  height: 70%;
}
main .page4 #card1 h3 {
  color: grey;
}
main .page4 #card1 h1 {
  color: black;
}
main .page4 #card2 {
  margin: 200px;
}
main .page4 #card2 #img1 {
  width: 30%;
  height: 25%;
}
main .page4 #card2 h3 {
  color: grey;
}
main .page4 #card2 h1 {
  color: black;
}
